NODE_ENV=development
PORT=3000
ORIGIN="http://localhost:3001"

DATABASE_URL="postgresql://chany:%21petDockTalk%23@127.0.0.1:5432/pet-doc-talk"

JWT_SECRET_KEY=iioMbkOhkVN7LHTvBK6hxP7YLECw2vCiR475RwHHstUYwjU7cX8AfvZIXzcxMYVqboaTSUVKvxz6SMvb56I7Xf
JWT_ACCESS_TOKEN_EXP_TIME="1d"
JWT_REFRESH_TOKEN_EXP_TIME="30d"
